/* Chat container */
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar style */
/* Navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.navbar button {
  padding: 8px 20px;
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.navbar button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white on hover */
}


/* Chat messages container */
.chatbox {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Individual message style */
.message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%;
}

/* User message style */
.message.user {
  background-color: #DCF8C6;
  align-self: flex-end;
  max-width: 70%;
}

/* Chatbot message style */
.message.chatbot {
  background-color: #F0F0F0;
  align-self: flex-start;
  max-width: 70%;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* Input field */
.input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

/* Send button */
.input-container button {
  padding: 8px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.satisfaction-prompt {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.satisfaction-prompt p {
  margin-bottom: 10px;
}

.satisfaction-prompt button {
  margin-right: 10px;
}


.dislike-icon {
  display: flex;
  margin-top: 0px;
  margin-left: 7px; 
}

.dislike-icon img {
  width: 20px; 
  height: 20px;
  cursor: pointer;
}
.disliked {
filter: invert(65%); 
}

/* Feedback prompt */
.feedback-prompt {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.feedback-prompt p {
  margin-bottom: 10px;
}

.star-rating {
  display: flex;
}

.star-rating span {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  margin-right: 5px;
}

.star-rating span.active {
  background-color: red;
}
